<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须是Dao接口的全限定名 -->
<mapper namespace="com.ffcs.icity.api.module.pointChangeLog.dao.IPointChangeLogDao">

    <resultMap id="PointChangeLogRM" type="com.ffcs.icity.api.module.pointChangeLog.entity.PointChangeLog">
        <result property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="point" column="POINT"/>
        <result property="pointDesc" column="POINT_DESC"/>
        <result property="createTime" column="CREATE_TIME"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="allFields">
        POINT_CHANGE_LOG.ID  ,POINT_CHANGE_LOG.USER_ID  ,POINT_CHANGE_LOG.POINT  ,POINT_CHANGE_LOG.POINT_DESC  ,POINT_CHANGE_LOG.CREATE_TIME  
	</sql>
    <insert id="insertPointChangeLog" parameterType="com.ffcs.icity.api.module.pointChangeLog.entity.PointChangeLog" useGeneratedKeys="true" keyProperty="id">
	   INSERT INTO POINT_CHANGE_LOG (
        	ID  
        	 <if test="userId !=null">,USER_ID  </if>
        	 <if test="point !=null">,POINT  </if>
        	 <if test="pointDesc !=null">,POINT_DESC  </if>
        	,CREATE_TIME
        ) VALUES (
        	null  
        	 <if test="userId !=null">,#{userId}  </if>
        	 <if test="point !=null">,#{point}  </if>
        	 <if test="pointDesc !=null">,#{pointDesc}  </if>
        	 , sysdate()
        )
        
    </insert>

    <update id="updatePointChangeLog"  parameterType="com.ffcs.icity.api.module.pointChangeLog.entity.PointChangeLog">
        UPDATE POINT_CHANGE_LOG SET
	        ID =  #{id} 
	      	  <if test="userId !=null">,USER_ID = #{userId} </if>
	      	  <if test="point !=null">,POINT = #{point} </if>
	      	  <if test="pointDesc !=null">,POINT_DESC = #{pointDesc} </if>
	      	  <if test="createTime !=null">,CREATE_TIME = #{createTime} </if>
        WHERE 
	     	   ID = #{id}
    </update>

    <delete id="deletePointChangeLog" parameterType="java.lang.Long">
    <![CDATA[
        DELETE FROM POINT_CHANGE_LOG WHERE
        ID = #{id}
    ]]>
    </delete>
    
    <select id="getPointChangeLogById" resultMap="PointChangeLogRM">
	    SELECT <include refid="allFields"/>
	    <![CDATA[
	        FROM POINT_CHANGE_LOG 
	        WHERE 
		        ID =  #{id} 
	    ]]>
    </select>
	
	<sql id="findPage">
		where
	    	1=1
		         <if test="id !=null">
		            and <![CDATA[ ID = #{id}  ]]>
		         </if>
		         <if test="userId !=null">
		            and <![CDATA[ USER_ID = #{userId}  ]]>
		         </if>
		         <if test="point !=null">
		            and <![CDATA[ POINT = #{point}  ]]>
		         </if>
			     <if test="pointDesc !=null">
			     	and	<![CDATA[ POINT_DESC =#{pointDesc} ]]>	
			     </if>
		         
	</sql>
	
    <select id="count" resultType="long">
        SELECT count(*) FROM POINT_CHANGE_LOG <include refid="findPage"/> 
    </select>
    
    
    <select id="findAll" resultMap="PointChangeLogRM">
    	 SELECT <include refid="allFields"/> FROM POINT_CHANGE_LOG	
    </select>

	
	<select id="findByCondition" resultMap="PointChangeLogRM">
    	SELECT <include refid="allFields"/> FROM POINT_CHANGE_LOG 
		<include refid="findPage"/>	
		 ORDER BY ID DESC	
		  <if test="start !=null and pageSize !=null">
			 LIMIT #{start},#{pageSize}	
		 </if>
    </select>
    
 
	
</mapper>

