<!-- 查询页面 s-->
<div class="modal fade" id="search" tabindex="-1"
	aria-labelledby="searchLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h3 class="modal-title " id="searchLabel">查询</h3>
			</div>
			<div class="modal-body">
				<!--添加的内容-->
				<form class="form-horizontal sh-validate">
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label">名字</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="firstname"
								placeholder="请输入名字">
						</div>
					</div>
					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label">姓</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="lastname"
								placeholder="请输入姓">
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer" style="border-top: 0;">

				<div class="row">
					<div
						class="col-lg-2 col-md-2 col-sm-3  col-xs-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-2">

						<button type="button" class="btn btn-default center-block"
							data-dismiss="modal">关闭</button>

					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 ">
						<button type="button" class="btn btn-primary center-block">
							查询</button>
					</div>
				</div>


			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal -->
</div>
<!-- 查询页面e -->



<!-- 二次确认页面 s-->
<div class="modal fade" id="delete" tabindex="-1"
	aria-labelledby="deleteLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h3 class="modal-title " id="deleteLabel">删除</h3>
			</div>
			<div class="modal-body">
				<!--添加的内容-->
				已选中: <span
					style="color: #286090; font-size: 18px; font-weight: bold;">1</span>
				条记录，确定要删除？
			</div>
			<div class="modal-footer" style="border-top: 0;">

				<div class="row">
					<div
						class="col-lg-2 col-md-2 col-sm-3  col-xs-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-2">

						<button type="button" class="btn btn-default center-block"
							data-dismiss="modal">关闭</button>

					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 ">
						<button type="button" class="btn btn-primary center-block">
							删除</button>
					</div>
				</div>


			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal -->
</div>
<!-- 二次确认页面e -->




<!-- 提示页面 s-->
<div class="modal fade" id="alert" tabindex="-1"
	aria-labelledby="alertLabel" aria-hidden="true">
	<div class="modal-dialog">

		<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="modal"> &times; </a> <strong>警告！</strong>您的网络连接有问题。
		</div>

	</div>
	<!-- /.modal -->
</div>
<!-- 提示e -->