<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="assets/css/amazeui.css?v=2.9">
    <link rel="stylesheet" href="assets/css/app.css?v=2.9">


</head>
<body class="bg1">

<section class="" id="amz-main" data-tag="css-nav">


    <div class=" am-padding-right-sm am-padding-left-sm  list am-margin-top-sm">
       <div class="bg3 am-padding-xs item am-margin-bottom-sm" id="content">
       	<p><span style="font-size:18px;"><strong><span style="color:#FF0000;">北京28玩法说明</span></strong></span><br />
<span style="font-size:14px;">北京28采用北京快乐8数据（09:00-23:55）<br />
北京快乐8开奖结果来源于国家福利彩票北京快乐8开奖号码，每5分钟一期，不停开奖。<br />
北京快乐8每期开奖共开出20个号码，并按照从小到大的顺序依次排列。<br />
取其1-6位开奖号码进行相加，和值的末位数作为幸运28开奖的第一位数值；<br />
取其7-12位开奖号码进行相加，和值的末位数作为幸运28开奖的第二位数值；<br />
取其13-18位开奖号码进行相加，和值的末位数作为幸运28开奖的第三位数值；<br />
将三位数值进行相加，所得结果即为幸运28的开奖结果。<br />
<span style="color:#FF0000;">北京28玩法：</span><br />
28个号码，抽中即可获得奖励。玩法类型共有以下玩法：<br />
1、大，小，单，双<br />
2、小双，小单，大双，大单<br />
3、极小值（0-5），极大值（22-27）<br />
4、28个号码定位数字</span></p>

<p>&nbsp;</p>

       </div>
        
    </div>


</section>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
  

</body>
</html>