<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>回水规则</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="assets/css/amazeui.css?v=2.9">
    <link rel="stylesheet" href="assets/css/app.css?v=2.9">


</head>
<body class="bg1">

<section class="" id="amz-main" data-tag="css-nav">

    <div class=" am-padding-top-ss am-padding-bottom-ss font-color-1 font14 am-padding-left-sm">
        初级房回水比例说明
    </div>
    <div class=" am-padding-right-sm am-padding-left-sm am-text-center list " id="list1">
      
       
    </div>

    <div class=" am-padding-top-ss am-padding-bottom-ss font-color-1 font14 am-padding-left-sm">
        中级房回水比例说明
    </div>
    <div class=" am-padding-right-sm am-padding-left-sm am-text-center list " id="list2">
        
    </div>

    <div class=" am-padding-top-ss am-padding-bottom-ss font-color-1 font14 am-padding-left-sm">
        高级房回水比例说明
    </div>
    <div class=" am-padding-right-sm am-padding-left-sm am-text-center list " id="list3">
         
    </div>
	 <div class=" am-padding-top-ss am-padding-bottom-ss font-color-1 font14 am-padding-left-sm">
     回水条件：<br/>
    ①当天下注满10期<br/>
 ②组合比例不低于20%<br/>
 ③严禁刷水，三无玩家一律无回水<br/><br/>
 <span style="color: red">符合条件平台审核后结算至您的账户，不支持提前结算。</span>
    </div>
	
</section>
<div style="display: none">
	<div class="box  bg2 font-color-4 border-bottom" id="head">
          <div class="box-1 am-padding-top-xs font14 am-padding-bottom-xs  border-right">亏损当天</div>
          <div class="width100px am-padding-top-xs font14 am-padding-bottom-xs ">回水比例</div>
      </div>
      
        <div class="box  bg3 font-color-5 border-bottom" id="temp">
            <div class="box-1 am-padding-top-xs font14 am-padding-bottom-xs  border-right"  field="start">323~3232</div>
            <div class="width100px am-padding-top-xs font14 am-padding-bottom-xs " ><span  field="bili"></span>%</div>
        </div>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<script type="text/javascript" src="../../../js/common/result.js"></script>
	<script type="text/javascript" src="../../../js/common/common.js"></script>
	<script type="text/javascript" src="../../../js/common/interface.js"></script>
	<script type="text/javascript" src="../../../js/module/common/huishui.js?v=1"></script>


</body>
</html>