<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="assets/css/amazeui.css?v=2.9">
    <link rel="stylesheet" href="assets/css/app.css?v=2.9">


</head>
<body class="bg1">

<section class="" id="amz-main" data-tag="css-nav">


    <div class=" am-padding-right-sm am-padding-left-sm  list am-margin-top-sm">
       <div class="bg3 am-padding-xs item am-margin-bottom-sm" id="content">
     <p><strong><span style="color:#FF0000;"><span style="font-size:18px;">加拿大28玩法说明</span></span></strong><br />
<span style="font-size:14px;">加拿大28数据（20:00-次日19:00）为正常销售时间，19:00-20:00（大约）为系统维护时间，具体情况依据加拿大28官方开售时间为准：<br />
加拿大28开奖结果来源于加拿大福利彩票的加拿大幸运28的开奖结果。<br />
加拿大28每期开奖结果共开出20个号码，并且按照从小到大的顺序依次排列。<br />
取其2、5、8、11、14、17位数进行相加，和值的末位作为幸运28开奖的第一位数值；<br />
取其3、6、9、12、15、18位数进行相加，和值的末位作为幸运28开奖的第二位数值；<br />
取其4、7、10、13、16、19位数进行相加，和值的末位作为幸运28开奖的第三位数值；<br />
将三位数值进行相加，所得结果即为幸运28的开奖结果。<br />
<span style="color:#FF0000;">加拿大28玩法：</span><br />
28个号码，抽中即可获得奖励。玩法类型共有以下玩法：<br />
1、大，小，单，双<br />
2、小双，小单，大双，大单<br />
3、极小值（0-5），极大值（22-27）<br />
4、28个号码定位数字</span></p>

<p>&nbsp;</p>
       </div>
        
    </div>


</section>


 
</body>
</html>