<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>邀请好友</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="assets/css/amazeui.css?v=2.9">
    <link rel="stylesheet" href="assets/css/app.css?v=2.9">


</head>
<body class="bg3">

<section class="" id="amz-main" data-tag="css-nav">


  <div class=""><img src="assets/images/icon/share.png" class="am-img-responsive"></div>

    <div class="am-margin-top-sm"><img src="assets/images/icon/qrcode.png" class="am-img-responsive width100px am-center"></div>
<div class="font-color-1 am-text-center am-margin-top-xs">扫描此处二维码</div>

    <div class="btnshare ">马上分享</div>

</section>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>


</body>
</html>