<!DOCTYPE HTML>
<html lang="zh-CN">
  <head>
    <title id="headtitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="../../../css/module/banner/bootstrap.min.css">
	
	<style type="text/css">
		p.ptitle{
			margin-bottom: 0px;
			font-size: 23px;
			font-weight: bold;
		}
		span.spantime{
			color: green;
		}
		img{
			width:100%;
			 height:auto;
		}
	</style>
  </head>
  <body style="font-family: Microsoft YaHei;" onload="wapDetails('ABOUT_US')">
  <div class="container-fluid">
 	 <div class="row">
 	 	<div class="col-md-12">
 	 		<h3 style="" id="title">
 	 		 	
 	 		</h3>
		</div>
 	 </div>
 	 
	 
	<div class="row">
		<div class="col-md-12" style="font-size: 15px;word-wrap:break-word;">
			<div id="content">
			</div>
		</div>
	</div>
	
	<br>
	<br>
  </div>
  </body>
  	<script type="text/javascript" src="../../../js/plugins/jquery/jquery.min.js"></script>
  	<script type="text/javascript" src="../../../js/common/result.js"></script>
	<script type="text/javascript" src="../../../js/common/common.js"></script>
	<script type="text/javascript" src="../../../js/common/interface.js"></script>
	<script type="text/javascript" src="../../../js/module/common/wapDetails.js"></script>
	
</html>