<!DOCTYPE HTML>
<html lang="zh-CN">
  <head>
    <title id="headtitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	 
  </head>
  <body style="font-family: Microsoft YaHei; background:  url( ../../../imgs/bg.jpg) no-repeat; background-size:100% 100%" >
  	<div  >
  	
  	
  		 <span style="padding-top: 150%;"   >
 	 		 <img onclick="toIos()" src="../../../imgs/iphone.png" style="width: 40%;height: 40%;float: left;padding-top: 150%;"></img>
	 	 </span>
	 	 
		 
		<span  >
			 <img onclick="toAndroid()" src="../../../imgs/android.png" style="width: 40%;height: 40%;float: left;padding-top: 150%;padding-left: 20%"></img>
		</span>
  	</div>
 	
	
	 
  </body>
  	 
  	 <script type="text/javascript">
  	 		function toIos(){
  	 			window.location.href="http://www.pgyer.com/BODY";
  	 		}
  	 		
  	 		function toAndroid(){
  	 			window.location.href="https://www.pgyer.com/I6S0";
  	 		}
  	 </script>
</html>