<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>分享注册成功</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="assets/css/zhaoui.min.css?v=2.9">
    <link rel="stylesheet" href="assets/css/style.css?v=2.3">
    <link rel="stylesheet" href="assets/css/index.css?v=2.3">

</head>
<body class="bg-1">

<section class="padding-bottom-60" id="amz-main" data-tag="css-nav">
<i><img src="assets/images/icon/icon_1.png" class="width-90px"></i>
    
    <div><img src="assets/images/icon/icon_3.png" class="width-100pxs am-center"></div>
    <div><img src="assets/images/icon/icon_4.png" class="width-150px am-center"></div>

    <div class="model-center am-center">
        <div><img class="width-55px am-center" src="assets/images/icon/icon_9.png"></div>
        <div class="font-color-11 font-15 am-margin-top-sm am-text-center">恭喜你注册成功</div>

        <!--失败-->
        <!--<div><img class="width-55px am-center" src="assets/images/icon/icon_7.png"></div>-->
        <!--<div>注册失败</div>-->

    </div>

    <div class="btn-5 am-center font-14 margin-top-20" onclick="toUpload()">
        下载客户端
    </div>

<i class="btpic"><img src="assets/images/icon/icon_2.png" class="width-90px "></i>


</section>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/zhao.min.js"></script>
  	<script type="text/javascript" src="../../../js/common/result.js"></script>
	<script type="text/javascript" src="../../../js/common/common.js"></script>
	<script type="text/javascript" src="../../../js/common/interface.js"></script>
	<script type="text/javascript" src="../../../js/module/common/regist.js?v=1.1"></script>

</body>
</html>