<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>常见问题</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="../../../css/amazeui.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="../../../css/index.css">
    <link rel="stylesheet" href="../../../css/extend.css">
    <link rel="stylesheet" href="../../../css/icons.css">


</head>
<body class="">
<header data-am-widget="header" class="am-header am-header-default am-header-fixed ">

    
    <h1 class="am-header-title">
        常见问题
    </h1>


</header>
<section class="" id="amz-main" data-tag="css-nav">

    <section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion='{  }' id="list">
        
       
    </section>

</section>

<div style="display: none">
	<dl class="am-accordion-item  " id="temp">
            <dt class="am-accordion-title am-padding-top-ss am-padding-bottom-ss am-padding-left-sm am-font-color-black" field="title" onclick="clickTitle(this)">
            </dt>
            <dd class="am-accordion-bd am-collapse   ">
                <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
                <div class="am-accordion-content am-padding-left-sm am-padding-right-sm am-padding-top-xs am-padding-bottom-xs font-color-16" field="content">

                </div>
            </dd>
        </dl>
</div>
<script type="text/javascript" src="../../../js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../../js/common/amazeui.min.js"></script>
<script type="text/javascript" src="../../../js/common/result.js"></script>
<script type="text/javascript" src="../../../js/common/common.js"></script>
<script type="text/javascript" src="../../../js/common/interface.js"></script>
<script type="text/javascript" src="../../../js/module/users/question.js"></script>


</body>
</html>